<div>
    <table>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
    {{#each products}}
        <tr>
            <th>{{title}}</th>
            <th>{{description}}</th>
            <th>{{price}}</th>
            <th>{{stock}}</th>
        </tr>
    {{/each}}
    </table>
</div>