table {
    width: 70%;
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #f2f2f2;
    color: #3f1c90;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;

}